.gallery_bg {
  background: black;
  padding: 50px 20px 50px 25px
}

.footer {
  background: #333333;
  text-align: center;
  padding-top: 20px;
}

.name {
  padding-left: 25px;
  padding-right: 40px;
}