body {
  background-image: url("../img/bg/bg003.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-bar {
  /*background: rgba(125, 71, 122, 0.5);*/
  background: #222222;
}

#icon-bar-override {
  height:45px !important;
}

.item img {
  width:45px !important;
  height:30px !important;

  padding: 5px 10px 5px 10px;
  margin-right: -4px;
  /*background:#333333;*/
}

#icons-right-indent {
  width:45px;
  display: inline-block;
}

#nav_logo {
/*  height: 200px;*/
  display: inline-block;
/*  margin-left: 30%;
  margin-right: 30%;*/
}

.gallery_header {
  margin-top: 50px;
  text-indent: 12px;
  padding-top: 8px;
  /*background: rgba(125, 71, 122, 0.5);*/
  background: rgba(0, 0, 0, 0.5);
}

.gallery_bg {
  background: rgba(0, 0, 0, 0.5);
  padding: 9px 2.5% 25px 2.5%;
}

.footer {
  background: #222222;
  text-align: center;
  padding-top: 20px;
}

.name {
  padding-left: 45px;
  padding-right: 40px;
}

.cursor_text {
  cursor: text !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

.sins_container {
  background: black;
  padding: 0px 2% 50px 2%;
}

.sins {
  margin: 7.5px;

}

#sins_pride {
  width:40%;
  margin-left: 27%;
  margin-right: 27%;
}

.sins_upper {
  width:48%;
}

.sins_lower {
  width:23%;
}

