@import "settings";
@import "foundation";
@import "animation";

/* Global script style variables. */
$body-bg-color: #111111;
$top-bar-bg-color: rgba(34, 34, 34, 0.9);
$gallery-bg-color: $top-bar-bg-color;


$concept-art-bg-color: #10825C;
$prints-bg-color: #0B9991;
$illustrations-bg-color: #0A728F;
$contact-info-container-bg-color: #00202B;
$contact-info-text-color: $ghost;

$footer-bg-color: $contact-info-container-bg-color;
$footer-text-color: $ghost;

$small-only-image-width: 95%;


body {
    background-image: url("../img/bg/bg_blue_design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $body-bg-color;
}



.top-bar {
  background: $top-bar-bg-color;
}

.name {
  padding-left: 45px;
  padding-right: 40px;
}

.name:hover {
    background-color: $ghost !important;
}

.concept-art-button {
    background-color: $concept-art-bg-color !important;
}

.concept-art-button:hover {
    background-color: $jet !important;
    color: $concept-art-bg-color !important;
}

.prints-button {
    background-color: $prints-bg-color !important;
}

.prints-button:hover {
    background-color: $jet !important;
    color: $prints-bg-color !important;
}

.illustrations-button {
    background-color: $illustrations-bg-color !important;
}

.illustrations-button:hover {
    background-color: $jet !important;
    color: $illustrations-bg-color !important;
}

.contact-info-container {
    background-color: $contact-info-container-bg-color !important;
}

.contact-info-button {
    cursor: text;
    font-size: $topbar-link-font-size;
    display: inline-block;
    height: $topbar-height;

    padding-left: $topbar-link-padding;
    padding-right: $topbar-link-padding;
    padding-top: $topbar-link-padding;
    padding-bottom: $topbar-link-padding;

    color: $contact-info-text-color;
    background-color: $contact-info-container-bg-color !important;
}

.about-description {
    text-indent: $text-indent;
    margin: 0 2.5% 0 2.5%;
}

.social-media-container {
    list-style: none;
    width: 100%;
}

.social-media-icon {
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 3% 0 5%;
}

.email {
    background-image: url("../img/icons/icon_email_white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.email:hover {
    background-image: url("../img/icons/icon_email_babyblue.png");
}

.linkedin {
    background-image: url("../img/icons/icon_linkedin_white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.linkedin:hover {
    background-image: url("../img/icons/icon_linkedin_babyblue.png");
}



.gallery-header {
    background: $gallery-bg-color;
    margin-top: 50px;
    text-indent: 12px;
    padding-top: 8px;
}

.gallery {
    background: $gallery-bg-color;
}

.js-packery {
    padding: 9px 2.5% 25px 2.5%;
}



.sins-container {
    background: $gallery-bg-color;
    padding: 0 0.5% 50px 2%;
}

.sins {
    margin: .8%;

}

.sins-upper { 
    @media #{$medium-up} {
        width:46.5%;
    }
    @media #{$small-only} {
        width:95%;
    }
}

.sins-lower {
    @media #{$medium-up} {
        width:22.25%;
    }
    @media #{$small-only} {
        width:$small-only-image-width;
    }
}



.footer {
    background: $footer-bg-color;
    color: $footer-text-color;
    text-align: center;
    height: 40px;
}

.footer p {
    font-size: $topbar-link-font-size;
    margin-top: 9px;
    margin-bottom: 0;
}



.loading {
    background-image: url("http://desandro.github.io/imagesloaded/assets/loading.gif");
    width:200px;
    height:250px;
}

.gallery-item {
    background-position:center;
    background-repeat: no-repeat;
    background-color: rgba(15, 15, 15, 1.0);

    @media #{$medium-up} {
        max-width: $small-only-image-width;
    }
    @media #{$small-only} {
        width: $small-only-image-width;
    }
}
